#error-page
  text-align: center;
  margin: 20vh 35vw
  @media mobilePhones
    margin: 15vh 15vw
  span
    font-size: 1.375em
    display: block;
    line-height: 1.5;
    margin: 0 auto 100px;
  h1
    font-size: 4.500em
    @media mobilePhones
      margin-bottom: 50px;
  button
    background-color: #dd5b44;
    color: #fff;
    border-radius: 30px;
    font-family: 'maison_neuelight';
    letter-spacing: 2px;
    line-height: 2;
    width: 70%;
    text-transform: uppercase;
    @media mobilePhones
      width: 100%
    &:active
      background-color: red
