footer
  background-color #182940
  height: 85px;
  box-sizing border-box
  padding 20px 5vw
  text-align center
  display: flex
  flex-direction: row;
  justify-items: flex-end;
  align-items: center;
  justify-content: space-between;

  @media mobilePhones
    height: 272px
    flex-direction: column
    justify-content: center;

  > .contact
    > .social
      font-size 0
      margin-right: -8px
      @media mobilePhones
        margin-right: 0
        padding: 0
      li
        display inline-block

        a
          display inline-block
          width 35px
          height 35px
          margin 0 10px
          background-repeat no-repeat
          background-position center

          &.facebook
            background-image url('/images/facebook.svg')
          &.instagram
            background-image url('/images/instagram.svg')
          &.youtube
            background-image url('/images/youtube.svg')
