// Colors

BrandOrange = #DB5C49
BrandBlue = #182A41
BrandGreen = #5C8F37

Black = #4A4A4A
BackgroundGray = #F8F8F8
SeparatorsGray = #D8D8D8


FBColor = #3B5998
FBBackgroundColor = #E9EBEE

coralColor= #DF5A3E
// Speed
transitionSpeed = 0.5s

// Sizes
footerHeight = 50px
pageWidth = 725px

// Media
iphone5only = "only screen and (min-width: 320px) and (max-width:568px) and (orientation:portrait)"
mobilePhones = "(max-width: 768px), (max-device-width: 640px), (max-device-width: 667px), (max-width: 480px), only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (-webkit-min-device-pixel-ratio: 2)"
onlyMobilePhones = "only screen and (min-device-width : 320px) and (max-device-width : 480px)"

//font
clFont = "maison_neuelight"
